<template>
  <div class="updateuser">
    
    <div class="panel panel-default" style="border-width:thin; margin-left:0px">
      <div class="ui segment" style="width: 50%; margin: 0 auto;">
        <div class="ui left floated header">
          <br>
          <label class="pull-left"><font size="4px" style="bold">Contact</font><span class="ui mini teal label">Add</span></label>
          <br>
        </div>
        <div class="ui clearing divider"></div>
          <br>
          <form>
            <div class="form-group" >
              <label class="pull-left">Contact ID<span style="color:red" >*</span> </label>
              <input type="text" class="form-control"  v-model="User.contactid">
            </div>
            <div class="form-group" >
              <label class="pull-left">First Name<span style="color:red" >*</span> </label>
              <input type="text" class="form-control"  v-model="User.firstname">
            </div>
            <div class="form-group" >
              <label class="pull-left">Last Name<span style="color:red" >*</span> </label>
              <input type="text" class="form-control"  v-model="User.lastname">
            </div>
            <div class="form-group" >
              <label class="pull-left">Mobile No<span style="color:red" >*</span> </label>
              <input type="text" class="form-control"  v-model="User.mobile">
            </div>
            <div class="form-group" >
              <label class="pull-left">Email</label>
              <input type="text" class="form-control"  v-model="User.email">
            </div>
            <div class="form-group" >
              <label class="pull-left">Facebook</label>
              <input type="text" class="form-control"  v-model="User.facebook">
            </div>
            <div class="form-group" >
              <label class="pull-left">Image Url</label>
              <input type="text" class="form-control"  v-model="User.image">
            </div>
           <span class="input-group-btn">
              <router-link :to="'/UserList'">
              <button type="button" style="color:#00bfff; background:white; border-color:#00bfff" class="btn btn-default"  @click="updateToAPI()"><span class="fa fa-save"></span> Save</button>
              </router-link>
              <router-link :to="'/UserList'">
              <button type="button" style="color:#00bfff; background:white; border-color:#00bfff" class="btn btn-default"><span class="fa fa-close" style="color:red"></span> Close</button>
              </router-link>
            </span>

          </form>
        </div> 
      </div>
    </div>

  </div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'UpdateUser',
  data () {
    return {
      msg: 'Update User',
      User: {
        contactid:'',
        firstname: '',
        lastname: '',
        mobile: '',
        email: '',
        facebook: '',
        image: ''
      }
    }
  },
  methods: {
    updateToAPI () {
      console.log(this.$route.params.userId)
      let newUser = {
        contactid:this.User.contactid,
        firstname:this.User.firstname,
        lastname:this.User.lastname,
        mobile:this.User.mobile,
        email:this.User.email,
        facebook: this.User.facebook,
        image: this.User.image
      }
      console.log(newUser)
      axios.post('http://localhost:3000/users/' + this.$route.params.userId, newUser)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
      window.location.reload()
    }
  },
  mounted () {
    axios.get('http://localhost:3000/users/' + this.$route.params.userId)
      .then((response) => {
        console.log(response.data)
        this.User = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>