
<template>
  <div class="userlist">
 
      <!-- <div class="col-xs-12 col-xs-12"> -->
      <div class="panel panel-default " style="border-width:medium; justify-content:center">
      
      <div class="ui grid" style="margin-left:5px; margin-top:10px; margin-right:5px; justify-content:center">
        <div class="ui teal segment" style="margin-bottom:20px">
            
            <form action="" class="input-group">
              <span class="input-group-btn">
                <div class="ui teal ribbon label" style="font-size:15px">
                  Contacts
                </div>
              </span>
              <div class="input-group" style="width: 95%; margin: 0 auto; position:relative;">
                <input type="text" class="form-control" placeholder="  Search..." v-model="search">
              
                <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" style="background:#D0D3D4"  >Search</button>
                      <router-link :to="'/NewUser'">
                      <button type="button" style="color:white; background:#DC7633; border-color:#DC7633" class="btn btn-default">+ Add</button>
                      </router-link>
                </span>
              </div>
            </form>
            
        </div>
      </div>
      

      
      <div class="ui padded segment" style="margin-left:5px; margin-right:5px;">
        <p></p>
      </div>
      
      <div class="panel panel-default" style="border-width:medium;border-width:medium;margin-left:5px; margin-right:5px;">

        <div class="ui link cards" style="padding-top:20px; padding-left:20px; padding-right:20px; padding-bottom:20px; justify-content:center">
          <div class="card" v-for="auser in filterdUsers" v-bind:key="auser.id">
            <div class="image">
               <img v-bind:src=auser.image>
            </div>
            <div class="content">
              <div class="header">{{ auser.firstname + "   " + auser.lastname}}</div>
              <div class="meta">
                <a text-align: center>Mobile: {{ auser.mobile}}</a><br>
                <a text-align: center>Email: {{ auser.email}}</a><br>
                <a text-align: center>Facebook: {{ auser.facebook}}</a>
              </div>
            </div>
            <div class="extra content">
              <span class="floated">
                <router-link :to="{path: '/UpdateUser' + auser._id}">
                <button class="btn btn-xm btn-primary"><span class="fa fa-edit"></span></button>
                </router-link>
                <router-link :to="'/UserList'">
                <button class="btn btn-xm btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm" @click="delUser(auser._id)"><span class="fa fa-eraser"></span></button>
                </router-link>
              </span>
              
            </div>
          </div>
        </div>
      </div>


      </div>
    <!-- </div> -->
  </div>
</template>
  


<script>
import axios from 'axios'
export default {
  name:'users',
  data(){
    return{
      Users: [],
      uid: '',
      search: ''
      }
    },
    methods: {
    delUser (userId) {
      var url = 'http://localhost:3000/users/' + userId
      axios.delete(url)
        .then((response) => {
          console.log('Delete UserId: ' + userId)
        })
        .catch((error) => {
          console.log(error)
        })
      window.location.reload()
    }
    
   
  },
    computed:{
      filterdUsers: function(){
        
        return this.Users.filter((user)=>{
            var fullname = user.firstname +" "+user.lastname
            return fullname.toLowerCase().includes(this.search.toLowerCase()) 
          
        })
        
      }
    },
    mounted(){
      axios.get('http://localhost:3000/users')
      .then((response)=>{
        console.log(response.data)
        this.Users = response.data
      })
      .catch((error)=>{
        console.log(error)
      })
    }
  }

</script>

<style>

</style>
