<template>
  <div id="app">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
            
            
                <img style="max-width:60px; justify-content:center;"
                     src="https://vuejs.org/images/logo.png">
            
        </div>
        
        <div>
            <ul class="nav navbar-nav">
                <li><a><font color = "white" size="4px">Contacts</font></a></li>
            </ul>
			      <ul class="nav navbar-nav navbar-user navbar-right">
                <li><a href='/Login'><i class="user icon" style="color:white; font-size:24px;"></i></a></li>
			      </ul>
		    </div>

      </div>
    </div>
    <br>

    

    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
